
@{
    ViewData["Title"] = "Hakkımızda";
}

<p class="asagi" style="font-size:30px">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Emre Şahin Siber Güvenlik, 2021 yılında kurulmuştur ve kurulduğu günden bugüne kadar sadece bilişim güvenliğiyle ilgili alanlarda çözüm üretmektedir.

    Şirketimiz ‘Önce Güvenlik’ sloganını kurulduğu günden beri benimsemiştir ve bu slogana sadık kalmaya çalışmaktadır.

    Şirketimizin tüm çabası, ‘Müşterilerinin bilişim güvenlik seviyesini, zaman zaman müşterilerindeki imkansızlıklara rağmen ve üretici ajandasını temel almayarak, artırmaya çalışmak’ cümlesi ile özetlenebilir.

    Rakiplerimizin durumuna bakmaksızın yaptığımız işi daha etkin yapmaya ve yeni ürün/hizmet/servislerle bu etkinliği artırmaya çalışmak, benimsediğimiz prensiplerden birisidir.

    Ticari başarı; doğru çözüm üretmenin, müşteriyi daha güvenli yapmanın ve sürekli kendini geliştirmenin sonucu olarak kendiliğinden gelecektir.
</p>

