
@{
    ViewData["Title"] = "Hizmetler";
}



<h2 class="neleryaparız"><ins><b>Güvenlik Test Hizmetleri</b></ins></h2> 
<p style="color:black; font-size: 25px;">
    Güvenlik Test Hizmetleri, ürün bağımsız olarak bilgi güvenliğinin üç temel ilkesi olan gizlilik, bütünlük ve erişilebilirlik konularında bilgi sistemlerinin, siber saldırganlardan önce test edilerek, mevcut güvenlik açıklıklarının tespit edildiği ve bu açıklıkların giderilmesine yönelik çözüm önerilerinin sunulduğu hizmetler bütünüdür.

    Bu hizmet kapsamında hatalı sonuçları en aza indirmek amacıyla, çabanın ciddi bir kısmı elle tarama, kontrol ve doğrulama testlerine ayrılmakta ve sadece otomatik tarama araçlarından yararlanılmamaktadır. Bu yöntemler uygularken, sektör lideri firmaların lisanslı ürünlerinden, açık kaynak kodlu yazılımlardan ve kendi geliştirdiğimiz uygulamalardan faydalanmaktadır.
</p>
<h2 class="neleryaparız"><ins><b>Olay Müdahele Hizmeti</b></ins></h2> 
<p style="color: black;font-size: 25px;">
    Günümüzde modern sistemlerin gittikçe artan karmaşık yapısı nedeniyle tespit edilemeyen zafiyetlerin miktarı da giderek artış göstermektedir. Bir şekilde siber saldırıya maruz kalındığında Doğru ve zamanında bir Olay Müdahale çok önemlidir.

    Siber olay esnasında da, yetkin olmayan kişilerle, panik halinde veya çok geç yapılan olay müdahale her zaman daha büyük sorunlar doğurmaktadır.
</p>
<h2 class="neleryaparız"><ins><b>Merkezi Gözlem Hizmeti</b></ins></h2> 
<p style="color:black; font-size: 25px;">
    E/Ş Siber Güvenlik Merkezi Gözlem Hizmeti kurum, kuruluş ve firmaların kritik bilgi sistem varlıklarının; performans, erişilebilirlik, hata, etki alanı sağlık ve güvenlik göstergelerini, E/Ş Siber Güvenlik uzman güvenlik analistleri vasıtasıyla 7/24 gözlemleyen, önceden belirlenmiş servis seviyesi anlaşmalarına uygun olarak raporlayan ve bu sayede hızlı ve etkili bir şekilde müdahale edilmesini amaçlayan bir gözlem, analiz ve raporlama hizmettir.

    Bu hizmet kapsamında izleme işlemi; yedekliği sağlanmış güvenli bağlantılar üzerinden, izleme sistemlerine iki faktörlü yetkilendirme ile ve sadece izlemfrede haklarıyla, uzak masaüstü yöntemi ile hiç bir kayıt bilgisini dışarı çıkarmadan ve merkezi olarak gerçekleştirilir.
</p>
<h2 class="neleryaparız"><ins><b>Ağ Güvenlik Test Hizmeti</b></ins></h2> 
<p style="color:black; font-size: 25px;">Kurum Kuruluş veya Firmanın ağlarına bağlı kapsam dahilindeki kablosuz ağların, erişim kontrollerinin, yapılandırmalarının ve kullanıcılarının davranışlarının değerlendirilmesi, parola kırma testleri, erişim sağlanan kablosuz ağlar üzerinden kurum ağına gerçekleştirilebilecek saldırıların test edilmesi, bulgu/çözüm önerilerinin raporlanması ve hizmet kapsamı dahilinde talep edildiğinde doğrulanması faaliyetlerini içeren güvenlik test hizmetidir.</p>

