@{
    ViewData["Title"] = "Home Page";
}


<div style="color:black;margin-left:30%">
    <h3 class="display-4"><b>Siber Güvenliğe Hoşgeldiniz</b></h3>
</div>

<div style="margin-top: 25px" class="ornek">
    <img style="width:900px;margin-left:50px" class="saga-kaydir" src="~/img/siber2.jpg" alt="">
    <h2>Siber güvenlik</h2><br />
    <p style="font-size:24px">Siber güvenlik; bilgisayarları, sunucuları, mobil cihazları, elektronik sistemleri, ağları ve verileri kötü amaçlı saldırılardan koruma uygulamasıdır.</p>
</div>
    



