
@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>
<div>
    <div class="asagi2">
        <p class="iletişim">
            Telefon: +905316160170
        </p>
        <p class="iletişim">
            E-mail: esahin11@stu.okan.edu.tr
        </p>
        <p class="iletişim">
            Adres: Okan Üniversitesi No:46/2 Tuzla/Türkiye
        </p>
    </div>
    <a href="https://www.google.com/search?rlz=1C1SQJL_trTR795TR795&tbs=lf:1,lf_ui:4&tbm=lcl&q=okan+%C3%BCniversitesi&rflfq=1&num=10&ved=2ahUKEwifrbHIyKDtAhUNJhoKHa7vBmoQtgN6BAgEEAc#rlfi=hd:;si:;mv:[[41.0825086,29.425812699999998],[40.8364145,28.8125809]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:4"> <img style="height:400px;width:350px;" src="~/img/okanharita.jpg" alt="linke git"></a>
</div>

