
@{
    ViewData["Title"] = "Kurucular";
}

<h1>Kurucular</h1>

<div style="margin-top: 25px" class="ornek">
    <img style="width:500px;margin-left:50px" class="saga-kaydir" src="~/img/okanlogo.jpg" alt="">

    <p style="font-size:30px">Emre Şahin</p>
    <p style="font-size:30px">Emrah Sarıçiçek</p>
</div>
