
@{
    ViewData["Title"] = "Müşteriler";
}

<div class="asagi ">
    <a href="@Url.Action("listele","Musterilercontroller1")"><h3 style="color:black">Müşterileri görmek istiyorsanız; Müşteri eklemek istiyorsanız; Müşteri silmek istiyorsanız; Müşteri güncellemek istiyorsanız tıklayınız.</h3></a>
</div>
